#article_voting_meta_box .percentage-container {
    display: flex;
}

#article_voting_meta_box .percentage-line {
    height: 5px;
    border-radius: 25px;
}

#article_voting_meta_box .percentage-line.percentage-line--yes {
    background-color: green;
}

#article_voting_meta_box .percentage-line.percentage-line--no {
    background-color: red;
}

#article_voting_meta_box p {
    margin: 5px 0px;
}